@use "@styles/globalStyles.scss" as G;

.body {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.796192px 2.38858px -0.625px,
    rgba(0, 0, 0, 0.05) 0px 2.41451px 7.24352px -1.25px,
    rgba(0, 0, 0, 0.05) 0px 6.38265px 19.148px -1.875px,
    rgba(0, 0, 0, 0.05) 0px 20px 60px -2.5px;
  border-radius: 20px;
  width: 270px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 251px;
}
