@use "@styles/globalStyles.scss" as G;

.body {
  @include G.sectionPadding;
  @include G.flexCenter;

  .wrapper {
    @include G.flexAlignCenter;
    flex-direction: column;

    h2,
    span {
      font-family: "Lexend", sans-serif;
    }

    h2 {
      font-size: 64px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.04em;
      margin-bottom: 60px;

      @include G.breakpoint("xl") {
        font-size: 40px;
      }
    }

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
